@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure font-family is scoped */
& * {
	font-family: "Montserrat", serif;
}

/* Reset any inherited styles */
* {
	all: initial;
	font-family: "Montserrat", serif;
}
